In [1]:
#1.What are the two values of the Boolean data type? How do you write them?

# Ans:-The value of Boolean data type is True & False. True=1 and False=0

In [2]:
#2.What are the three different types of Boolean operators?

# Ans:- The three basic Boolean opeartors are AND, OR and NOT

In [3]:
#3. Make a list of each Boolean operator's truth tables (i.e. every possible combination of Boolean values for the operator and what it evaluate ).

# Ans:-

In [11]:
import pandas as pd
df=pd.read_excel(r'C:\Users\Yoga\Desktop\Ops1.xls')
df

   Unnamed: 0 Unnamed: 1 Operator
0           A          B      and
1           0          0        0
2           0          1        0
3           1          0        0
4           1          1        1
5           A          B       or
6           0          0        0
7           0          1        1
8           1          0        1
9           1          1        1
10        NaN          A      not
11        NaN          0        1
12        NaN          1        0

In [ ]:
#4. What are the values of the following expressions?

# (5 > 4) and (3 == 5)
# Ans:- False

# not (5 > 4)
# Ans:False

# (5 > 4) or (3 == 5)
# Ans:-True

# not ((5 > 4) or (3 == 5))
# Ans:- False

# (True and True) and (True == False)
# Ans:-False

# (not False) or (not True)
# Ans:-True

In [15]:
# 5. What are the six comparison operators?

# Ans:- The six comparison opeartors are less than, greater than,less than equal to, greater than or equal to,equal to and not equal to

In [16]:
# 6. How do you tell the difference between the equal to and assignment operators?Describe a condition and when you would use one.

# Ans:- The "=" operator is an assignment operator used to assign value to a varible.The "==" opeartor checks whether the two literals equal or not.
# For eg:-a=2 is an assignment operation and a==2 is to check equal opeartor condition

In [17]:
#7. Identify the three blocks in this code: spam = 0
#if spam == 10
#print('eggs')
#if spam > 5:
#print('bacon')
#else:
#print('ham')
#print('spam')
#print('spam')

# Ans:- The three blocks are print('eggs'),print('bacon') and print('ham')

In [18]:
#8. Write code that prints Hello if 1 is stored in spam, prints Howdy if 2 is stored in spam, and prints Greetings! if anything else is stored in spam.

# Ans:-

In [1]:
spam= int(input("Provide the input by user:\n"))
if spam==1:
    print("Hello")
elif spam==2:
    print("Howdy")
else:
    print("Greeting!")

Provide the input by user:
3
Greeting!

In [2]:
# 9.If your programme is stuck in an endless loop, what keys youâ€™ll press?

# Ans:- Ctrl+C

In [3]:
# 10. How can you tell the difference between break and continue?

#  Ans: The break terminates the whole loop early and continue skips the current iteration

In [4]:
# 11.In a for loop, what is the difference between range(10), range(0, 10), and range(0, 10, 1)?

# Ans:- All the three functions will produce the same output. There is no difference

In [6]:
# 12. Write a short program that prints the numbers 1 to 10 using a for loop. Then write an equivalent program that prints the numbers 1 to 10 using a while loop.

# Ans:-

In [7]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [10]:
i=1
while i<11:
    print(i)
    i+=1

1
2
3
4
5
6
7
8
9
10

In [ ]:
# 13. If you had a function named bacon() inside a module named spam, how would you call it after importing spam?


# Ans:- spam.bacon()